/*
Theme Name: Crypto Platform
Theme URI: https://lisk.support/
Author: Lisk.support
Author URI: https://lisk.support/
Description: Crypto Platform Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cryptoplatform
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/

html {
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Colors */

.primary {
    color: #6e7c7c !important;
}

.bg-dark {
    background-color: #252937!important;
}

.bg-alt {
    background-color: #f7f7f8;
}

.bg-light-blue {
    background-color: #e6e8f5;
}

.bg-lightdark {
    background-color: #49506d;
}

.bg-gradient-2 {
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #23074d);
    background: linear-gradient(to right, #26D0CE, #23074d);
}


/* Viewport heights */

.fill-viewport {
    min-height: 100vh;
}

.fill-60-viewport {
    min-height: 60vh;
}

.fill-70-viewport {
    min-height: 60vh;
}

.fill-80-viewport {
    min-height: 80vh;
}



/* Hero Component */

#hero {
    position: relative;
    height: 445px;
    background: #1A2980;
    background: -webkit-linear-gradient(to left, #26D0CE, #23074d);
    background: linear-gradient(to left, #26D0CE, #23074d);
}

#hero-single {
    position: relative;
    height: 445px;
    background: #1A2980;
    background: -webkit-linear-gradient(to left, #26D0CE, #23074d);
    background: linear-gradient(to left, #26D0CE, #23074d);
}

[data-page="index"] #hero {
    height: 80vh;
    min-height: 500px;
    max-height: 700px;
}


@media (max-width: 767px) {

    [data-page="index"] #hero {
        height: 50rem;
        max-height: none;
    }

    .card.ticker {
        margin-top: -16rem !important;
    }
}



[data-page="search"] #hero {
    height: 250px;
}

.pt-6 {
    padding-top: 16rem!important;
}


/* Lisk Ticker */

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#chartjs-tooltip {
    position: absolute;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    color: white;
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: none;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.card.ticker {
    background-color: #fff;
    max-width: 300px;
    height: 200px;
    border-radius: 5px;
    overflow: auto;
}

.card.ticker .about {
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.card.ticker .about h3,
.card.ticker .about .lead {
    font-weight: 300;
    margin: 0;
}

.card.ticker .about h3 {
    font-size: 16px;
}

.card.ticker .about .lead {
    color: #aaa;
}

.card.ticker .info {
    float: left;
    padding: 10px 30px 10px 0;
}

.card.ticker .info p {
    font-size: 12px;
    color: #aaa;
    font-weight: 300;
}

#LiskPriceTooltipSub {
    color: #000;
    padding: 5px 0 0 0;
}

.legends {
    padding-top: 20px;
    overflow: hidden;
}

.legend {
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.legend--this {
    background-color: #5555FF;
}

.legend--prev {
    background-color: #FF55B8;
}

#LiskPriceSub, #LiskPriceTooltipSub {
    font-size: 12px;
}

.axis {
    position: absolute;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    bottom: 0;
}

.axis .tick {
    flex: 1;
    position: relative;
    overflow: hidden;
    opacity: 0.2;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    padding-top: 150px;
}

.axis .tick:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
}

.axis .tick .value {
    transform: translateY(-40px);
    transition: 0.3s transform;
    position: absolute;
    top: 20px;
    color: #444;
    border-radius: 2px;
    width: 100%;
    line-height: 20px;
}

.axis .tick:hover .value.value--this {
    transform: translateY(0);
    display: block;
}

.value.value--this {
    color: #5555FF;
    font-weight: bold;
}

.form-row.ticker {
    width: 310px;
}


/* Fonts */

p {
    line-height: 1.8rem;
}

a {
    color: #6e7c7c;
}

.text-medium-light {
    color: #a4a4a4;
}

.text-info a {
    color: #01c8c7 !important;
}

li a {
    color: inherit;
}

a:hover {
    color: #01c8c7;
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.h1,
h1 {
    font-size: 2.1rem;
    font-weight: 600;
}

.h2,
h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.h5,
h5 {
    font-weight: 600;
}

.h6,
h6 {
    font-size: 1.2rem;
    font-weight: 600;
}

.comp {
    line-height: 0.8em;
}

.body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-variant: normal;
}

.text-strong {
    font-weight: 700;
}

a .ion-document:before {
    position: relative;
    top: -1px;
}



/* Mobile menu */

@media (max-width: 767px) {

    #main-nav.navbar-slide-in {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: block !important;
        width: 100%;
        height: 100% !important;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    #main-nav.navbar-slide-in .navbar-toggler {
        position: absolute;
        right: 250px;
        top: 0;
        width: calc(100vw - 250px);
        height: 100%;
    }

    #main-nav.navbar-slide-in .navbar-toggler .menu-icon-bar {
        top: 30px;
        right: 30px;
        left: initial;
        width: 20px;
    }

    #main-nav.navbar-slide-in .navbar-nav {
        -webkit-box-pack: flex-start !important;
        -webkit-justify-content: flex-start !important;
        -ms-flex-pack: flex-start !important;
        justify-content: flex-start !important;
        width: 250px;
        height: 100% !important;
        padding: 20px;
        background-color: #fff;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }

    #main-nav.navbar-slide-in.slide-in {
        height: 100% !important;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    #main-nav.navbar-slide-in.slide-in .navbar-nav {
        -webkit-box-shadow: -20px 0 200px 100px rgba(0, 0, 0, .5);
        -moz-box-shadow: -20px 0 200px 100px rgba(0, 0, 0, .5);
        box-shadow: -20px 0 200px 100px rgba(0, 0, 0, .5);
    }

    #main-nav.navbar-slide-in .navbar-nav .nav-link {
        color: #333;
    }

    #main-nav.navbar-slide-in .navbar-nav .nav-item.dropdown .dropdown-menu {
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #main-nav.navbar-slide-in .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
        padding-left: 0;
        padding-right: 0;
    }
}



/* Buttons */

.btn-primary {
    width: auto;
    padding: 0 1.5rem;
    height: 50px;
    color: #696b6e;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0.1em solid #dfe1e5;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    border-radius: 0;
}

.btn-primary:hover,
.btn-primary-white:hover {
    background-color: transparent;
    border: 0.1em solid #01c8c7;
    color: #01c8c7;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.0rem;
    border: 0.1em solid #01c8c7;
}

.btn-primary-white {
    width: auto;
    padding: 0 1.5rem;
    height: 50px;
    color: #fff;
    float: left;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0.1em solid #dfe1e5;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    border-radius: 0;
}

.btn-alt {
    width: auto;
    padding: 0 1.5rem;
    height: 50px;
    color: #696b6e;
    margin-top: -0.07em;
    margin-left: -12em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
}

.btn-alt-side {
    width: auto;
    padding: 0 1.5rem;
    height: 50px;
    color: #696b6e;
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
}

.btn-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-alt:hover,
.btn-alt-side:hover {
    color: #01c8c7;
}

.btn-svg rect,
.btn-svg path,
.btn-svg polyline {
    fill: none;
    stroke: #dfe1e5;
    stroke-width: 1;
}

.btn-alt:hover .btn-svg rect,
.btn-alt-side:hover .btn-svg rect,
.swiggleBox:hover .btn-svg path,
.checkBox:hover .btn-svg polyline {
    stroke: #01c8c7;
}

.btn-svg rect {
    stroke-dasharray: 400, 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.btn-alt:hover .btn-svg rect,
.btn-alt-side:hover .btn-svg rect {
    stroke-width: 3;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 48;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}


/* Forms */

.form-control-custom {
    border: 0.1rem solid #dfe1e5;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    color: #696b6e;
    transition: border-color .4s ease 0s;
    -webkit-appearance: none;
}

.form-control-custom:focus,
.form-control-custom:hover,
.form-control-custom-trans:focus,
.form-control-custom-trans:hover {
    border-color: #01c8c7;
}

.form-control-custom-trans {
    border: 0.1rem solid #dfe1e5;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    color: #fff!important;
    background-color: transparent!important;
    transition: border-color .4s ease 0s;
}

.form-control-custom-trans::-webkit-input-placeholder {
    color: #fff;
}


/* Hero Component */

.hero-search-box {
    width: 100%;
    padding: 1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .15);
    border: 2px solid rgba(255, 255, 255, .17);
    transition: border-color .4s ease 0s;
}

.hero-search-box:hover,
.hero-search-box:focus {
    border-color: #fff;
}

.hero-search-icon {
    position: absolute;
    right: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Ionicons;
}

.hero-search-box::-webkit-input-placeholder {
    color: #fff;
    font-weight: 600;
}

.hero-search-box::-moz-placeholder {
    color: #fff;
    font-weight: 600;
    opacity: 1;
}

.hero-search-box:-ms-input-placeholder {
    color: #fff;
    font-weight: 600;
}

.hero-search-box:-moz-placeholder {
    color: #fff;
    font-weight: 600;
    opacity: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}



/* Particles */

#hero canvas {
    display: block;
    vertical-align: bottom;
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.separator {
    position: relative;
    display: block;
    height: 2px;
    margin: 4px 0 15px 0;
    text-align: left;
    border-top: 1px solid #e4e4e4;
}

a[aria-expanded="true"] {
    color: #01c8c7;
}

a[aria-expanded="false"] {
    color: #6e7c7c;
}

a[aria-expanded="false"]:hover {
    color: #01c8c7;
    text-decoration: none;
}


/* Icons */

.kb-box {
    position: relative;
    z-index: 2;
    padding: 85px 10% 73px;
    margin: -12rem 0 5rem !important;
    line-height: 1.42;
    color: #6b7c93;
    background: #fff;
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .12);
}


/* Navbar */

.navbar {
    width: 100%;
    padding-top: 1.5rem;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.navbar .navbar-toggler {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    right: 15px;
    left: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: all .2s ease-in;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-transform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-transform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-transform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}

.logo {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.logo svg {
    width: 160px;
    height: 50px;
}

.navbar.navbar-dark .cls-1 {
    -webkit-transition: fill .2s ease;
    -moz-transition: fill .2s ease;
    -ms-transition: fill .2s ease;
    -o-transition: fill .2s ease;
    transition: fill .2s ease;
}

.navbar.navbar-dark.pinned .cls-1 {
    fill: #18A2BB;
}

.navbar.navbar-dark .logo svg {
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.navbar.navbar-dark.pinned .logo svg {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .75);
    font-size: 0.95rem;
    font-weight: 700;
    transition: all .3s ease;
}

.navbar-nav li {
    padding-right: 1rem;
}

.navbar-nav li:last-child {
    padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .dropdown-menu {
    padding: 0;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(23, 28, 33, .12), 0 1px 2px rgba(23, 28, 33, .24);
}

.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #9d9d9d;
    font-size: .9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: color .2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: #333;
    background: transparent;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}

.navbar.navbar-dark.pinned {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
}

.navbar.navbar-dark.pinned .nav-link {
    color: rgba(51, 51, 51, .5);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.navbar.navbar-dark.pinned .nav-link:hover {
    color: rgba(51, 51, 51, 1);
}

.navbar.navbar-dark.pinned .navbar-toggler .menu-icon-bar {
    background-color: #333;
}



/* Cards */

.card,
.card-header,
.card-footer,
.card-img-top,
.card-img-bottom {
    border-radius: 0;
}

.card.card-raised {
    border: 0;
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
}

.card.card-raised-hover {
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.card.card-raised-hover:hover {
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .4);
}

.news-list .card {
    border: 0;
}

.mt-n5 {
    margin-top: -5rem;
}

.news-list .card > .card-img-top:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.news-list .card:hover > .card-img-top:after {
    background-color: rgba(0, 0, 0, .2);
}

@media only screen and (min-width: 768px) {

    .news-list .card.super-card > .card-img-top {
        height: 300px;
    }
}

.news-list .card > .card-img-top,
.events .card > .card-img-top {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 12rem;
}

.news-list .card > .card-img-top.card-img-small {
    height: 150px;
}

.card.news {
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .12);
}

.card.news:hover {
    color: black;
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .2);
}

.cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    padding-top: 180px;
    color: #333;
    text-align: center;
    background-color: #f66;
    opacity: 0;
    -webkit-transition: .4s ease-out all;
    -moz-transition: .4s ease-out all;
    -o-transition: .4s ease-out all;
    transition: .4s ease-out all;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.cardOverlay span {
    display: inline-block;
    max-height: 400px;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
}

.card.news:hover .cardOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #333;
    background-color: #f66;
    opacity: .95;
    -webkit-transition: .4s ease-out all;
    -moz-transition: .4s ease-out all;
    -o-transition: .4s ease-out all;
    transition: .4s ease-out all;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}



/* Team */

.team-image {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    object-fit: cover;
}

.card-body.team {
    text-align: center;
}

.emphasis {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: #01c8c7;
}

.social-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.social-circle:hover {
    color: #01c8c7;
    text-decoration: none;
    border-color: #01c8c7;
}



/* Single Post */

.header-img {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.cat-links .icon {
    height: 15px;
    width: 20px;
}

.entry-footer {
    display: none;
}


/* Comments */

.comment-list,
.comment-list ol {
    list-style: none;
    padding-left: 0;
}

.comment-list .comment {
    padding-left: 50px;
}

.comment-list .comment .comment-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.comment-list .comment .comment-body .comment-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

.comment-list .comment .comment-body .comment-meta .comment-metadata {
    color: #999;
    font-size: .8rem;
}

.comment-list .comment .comment-body .comment-content {
    margin-top: 10px;
}

.comment-list .comment .comment-body .comment-content p:last-child {
    margin-bottom: 0;
}

.comment-list .comment .comment-body .comment-meta .comment-author {
    position: relative;
}

.comment-list .comment .comment-body .comment-meta .says {
    display: none;
}

.comment-list .comment .comment-body .comment-meta .comment-author img {
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    height: 40px;
}

.comment-list .comment .comment-body .reply {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}


/* Timeline */

.timeline {
    list-style: none;
    padding: 20px;
    position: relative;
}

.timeline:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #c0c0c0;
    left: 50%;
    margin-left: -1.5px;
}

.timeline .timeline-item {
    margin-bottom: -60px;
    position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
    content: "";
    display: table;
}

.timeline .timeline-item:after {
    clear: both;
}

.timeline .timeline-item .timeline-badge {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 157px;
    left: 50%;
    margin-left: -10px;
    background-color: #fff;
    border: 3px solid #01c8c7;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
    top: 2px;
    left: 0;
}

.timeline .timeline-item .timeline-panel {
    position: relative;
    width: 46%;
    float: left;
    right: 16px;
}

.timeline .timeline-item .timeline-panel:before {
    position: absolute;
    top: 152px;
    right: -16px;
    display: inline-block;
    border-top: 16px solid transparent;
    border-left: 16px solid #6e7c7c;
    border-right: 0 solid #6e7c7c;
    border-bottom: 16px solid transparent;
    content: "";
}

.timeline .timeline-item:nth-child(even) .timeline-panel {
    float: right;
    left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}


/* Responsive embeds */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Media queries */

@media (max-width: 767px) {
    .timeline {
        padding: 0;
    }
    .timeline .timeline-item .timeline-panel {
        position: relative;
        width: 100%;
        right: 0;
    }
    .timeline .timeline-item:nth-child(even) .timeline-panel {
        float: left;
        left: 0;
    }
    .timeline .timeline-item {
        margin-bottom: 60px;
        position: relative;
    }
    .timeline .timeline-item .timeline-panel:before {
        display: none;
    }
    .timeline .timeline-item .timeline-badge {
        display: none;
    }
}

@media (min-width: 1024px) {
    .has-feat-img {
        margin-top: -18em;
    }
}

@media (max-width: 1023px) {
    #hero-single {
        height: 205px;
    }
}


/* Footer */

.widget ul {
    list-style: none;
    padding: 0;
}