<div class="float-md-right float-left">
	<div class="card card-raised ticker border-0">
		<!-- Custom information -->
		<div class="about">
			<h3 id="LiskPriceHead">
				Lisk Price
			</h3>
			<div class="text-muted" id="LiskPriceSub">
				from CoinMarketCap.com
			</div>
			<div id="LiskPriceTooltipSub"></div>
			<div class="legends"></div>
		</div>

		<!-- Canvas for Chart.js -->
		<div style="height:200px; width:300px;">
			<canvas id="coin-ticker"></canvas>
		</div>

		<div id="chartjs-tooltip"></div>
	</div>

	<form>
		<div class="form-row ticker mt-2">
			<div class="col">
				<select class="form-control form-control-sm" id="dataDropDown" onchange="changeData()">
					<option selected value="usd">USD</option>
					<option value="btc">BTC</option>
					<option value="mc">Market Cap</option>
				</select>
			</div>
			<div class="col">
				<select class="form-control form-control-sm" id="lastDropDown" onchange="changeLast()">
					<option value="hour">Last Hour</option>
					<option value="day">Last Day</option>
					<option value="week">Last Week</option>
					<option selected value="month">Last Month</option>
				</select>
			</div>
			<div class="col">
				<select class="form-control form-control-sm" id="zeroedDropDown" onchange="changeZero()">
					<option value="zeroed">Zeroed</option>
					<option selected value="notZeroed">Not Zeroed</option>
				</select>
			</div>
		</div>
	</form>
</div>
