/*
Theme Name: Crypto Platform
Theme URI: https://lisk.support/
Author: Lisk.support
Author URI: https://lisk.support/
Description: Crypto Platform Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cryptoplatform
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/

html {
    font-size: 14px;
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
    height: auto;
}

p a {
	text-decoration: underline;
}

p a:hover {
	text-decoration: underline;
}

/* Colors */

.primary {
    color: #505761 !important;
}
.secondary {
	color: #434d5a;
}
.primary-green {
	color: #01c8c7;
}

.bg-lisk {
	background-color: #01c8c7;
}
.bg-dark {
    background-color: #252937!important;
}

.bg-alt {
    background-color: #f7f7f8;
}

.bg-light-blue {
    background-color: #e6e8f5;
}

.bg-lightdark {
    background-color: #49506d;
}

.bg-gradient-2 {
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #23074d);
    background: linear-gradient(to right, #26D0CE, #23074d);
}

.progress .progress-bar {
	word-wrap: initial;
}

/* Viewport heights */

.fill-viewport {
    min-height: 100vh;
}

.fill-60-viewport {
    min-height: 60vh;
}

.fill-70-viewport {
    min-height: 60vh;
}

.fill-80-viewport {
    min-height: 80vh;
}



/* Hero Component */

#hero {
    position: relative;
    height: 445px;
    background: #1A2980;
    background: -webkit-linear-gradient(to left, #26D0CE, #23074d);
    background: linear-gradient(to left, #26D0CE, #23074d);
}

#hero-single {
    position: relative;
    height: 385px;
    background: #1A2980;
    background: -webkit-linear-gradient(to left, #26D0CE, #23074d);
    background: linear-gradient(to left, #26D0CE, #23074d);
}

[data-page="index"] #hero {
    height: 60vh;
    min-height: 500px;
    max-height: 700px;
}


@media (max-width: 767px) {

    [data-page="index"] #hero {
        height: 30rem;
        max-height: none;
		min-height: 400px;
    }

    .card.ticker {
        margin-top: -16rem !important;
    }
}



[data-page="search"] #hero {
    height: 250px;
}

.pt-6 {
    padding-top: 16rem!important;
}


/* Lisk Ticker */

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#chartjs-tooltip {
	position: absolute;
	opacity: 1;
	background: rgba(255, 255, 255, 1);
	color: white;
	border: 1px solid #000;
	border-radius: 3px;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	pointer-events: none;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
	display: none;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.card.ticker {
    background-color: #fff;
    max-width: 300px;
    height: 200px;
    border-radius: 5px;
    overflow: auto;
}

.card.ticker .about {
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.card.ticker .about h3,
.card.ticker .about .lead {
    font-weight: 300;
    margin: 0;
}

.card.ticker .about h3 {
    font-size: 16px;
}

.card.ticker .about .lead {
    color: #aaa;
}

.card.ticker .info {
    float: left;
    padding: 10px 30px 10px 0;
}

.card.ticker .info p {
    font-size: 12px;
    color: #aaa;
    font-weight: 300;
}

#LiskPriceTooltipSub {
    color: #000;
    padding: 5px 0 0 0;
}

.legends {
    padding-top: 20px;
    overflow: hidden;
}

.legend {
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.legend--this {
    background-color: #5555FF;
}

.legend--prev {
    background-color: #FF55B8;
}

#LiskPriceSub, #LiskPriceTooltipSub {
    font-size: 12px;
}

.axis {
    position: absolute;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    bottom: 0;
}

.axis .tick {
    flex: 1;
    position: relative;
    overflow: hidden;
    opacity: 0.2;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    padding-top: 150px;
}

.axis .tick:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
}

.axis .tick .value {
    transform: translateY(-40px);
    transition: 0.3s transform;
    position: absolute;
    top: 20px;
    color: #444;
    border-radius: 2px;
    width: 100%;
    line-height: 20px;
}

.axis .tick:hover .value.value--this {
    transform: translateY(0);
    display: block;
}

.value.value--this {
    color: #5555FF;
    font-weight: bold;
}

.form-row.ticker {
	width: 310px;
}


/* Fonts */

p {
	line-height: 2rem;
}

.entry-content p {
	line-height: 2.2rem;
    font-size: 1.2rem;
	color: #434d5a;
}
a {
    color: #505761;
}
.advertisement {
	color: #000;
}

.advertisement:hover {
    color: #000;
}


.text-medium-light {
	color: #a4a4a4;
}

.text-secondary {
	color: #505761!important;
}
.text-info a {
    color: #01c8c7 !important;
}

li a {
    color: inherit;
}

a:hover {
    color: #01c8c7;
    text-decoration: none;
	transition: all .4s ease 0s;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
	color: #505761;
}

.h1,
h1 {
    font-size: 2rem;
    font-weight: 700;
}

.h2,
h2 {
    font-size: 2.5rem;
    font-weight: 800;
}
.h3,
h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
.h4,
h4 {
    font-weight: 600;
}


.h5,
h5 {
    font-weight: 600;
}

.h6,
h6 {
    font-size: 1.2rem;
    font-weight: 600;
}

.comp {
    line-height: 0.8em;
}

.body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-variant: normal;
	color: #505761;
}

.text-strong {
    font-weight: 700;
}

a .ion-document:before {
	position: relative;
	top: -1px;
}


/* Ads */
/* Ad space */
#adspace {
    background-image: url("/wp-content/themes/cryptoplatform/assets/images/mrcl_lb.png");
    background-position: center center;
    background-size: cover;
    height:70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.close-ad {
    position: absolute;
    top: 0;
    right: 0;
}
.AdSidebar {
    position: relative;
    background-image: url("/wp-content/themes/cryptoplatform/assets/images/mrcl_rect.png");
    background-position: center center;
    background-size: cover;
}
.AdSidebar .adtext {
    font-size: 1.2rem;
}
.adimg {
    height: 60px;
}
.adtext {
    font-weight: 600;
    font-size: 1.5rem;
}
.advertisement {
    color: #000;
}
.advertisement:hover {
    color: #000;
}
.btn-primary-ad {
    width: auto;
    padding: 1rem 1.5rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0.1em solid #dfe1e5;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    border-radius: 0;
    display: block;
    margin: 0 auto;
}
.btn-primary-ad:hover {
    background-color: #fff;
    border: 0.1em solid #000;
    color: #000;
}
/* Mobile menu */

@media (max-width: 767px) {

    #main-nav.navbar-slide-in {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: block !important;
        width: 100%;
        height: 100% !important;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    #main-nav.navbar-slide-in .navbar-toggler {
        position: absolute;
        right: 300px;
        top: 0;
        width: calc(100vw - 300px);
        height: 100%;
    }

    #main-nav.navbar-slide-in .navbar-toggler .menu-icon-bar {
        top: 30px;
        right: 30px;
        left: initial;
        width: 20px;
        background-color: #fff;
    }

    #main-nav.navbar-slide-in .navbar-nav {
        -webkit-box-pack: flex-start !important;
        -webkit-justify-content: flex-start !important;
        -ms-flex-pack: flex-start !important;
        justify-content: flex-start !important;
        width: 300px;
        height: 100% !important;
        padding: 20px;
        background-color: #fff;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }

    #main-nav.navbar-slide-in.slide-in {
        height: 100% !important;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    #main-nav.navbar-slide-in.slide-in .navbar-nav {
        -webkit-box-shadow: -20px 0 200px 100px rgba(0, 0, 0, .5);
        -moz-box-shadow: -20px 0 200px 100px rgba(0, 0, 0, .5);
        box-shadow: -20px 0 200px 100px rgba(0, 0, 0, .5);
    }

    #main-nav.navbar-slide-in .navbar-nav .nav-link {
        color: #333;
        font-size: 1rem;
    }

    #main-nav.navbar-slide-in .navbar-nav .nav-item.dropdown .dropdown-menu {
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #main-nav.navbar-slide-in .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
        padding-left: 0;
        padding-right: 0;
        font-size: 0.95rem;
    }
}

@media (max-width: 360px) {

    #main-nav.navbar-slide-in .navbar-toggler {
        right: 250px;
        width: calc(100vw - 250px);
    }

    #main-nav.navbar-slide-in .navbar-nav {
        width: 250px;
    }
    #main-nav.navbar-slide-in .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item{
	    font-size: 0.85rem;
	}
	#main-nav.navbar-slide-in .navbar-nav .nav-link {
	    color: #333;
	    font-size: 0.9rem;
	}
}


/* Buttons */

.btn-primary {
    width: auto;
    padding: 1rem 1.5rem;
    color: #696b6e;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0.1em solid #dfe1e5;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    border-radius: 0;
}

.btn-primary:hover,
.btn-primary-white:hover {
    background-color: transparent;
    border: 0.1em solid #01c8c7;
    color: #01c8c7;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.0rem;
    border: 0.1em solid #01c8c7;
}

.btn-primary-white {
    width: auto;
    padding: 1rem 1.5rem;
    color: #fff;
    float: left;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0.1em solid #dfe1e5;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    border-radius: 0;
}

.btn-alt {
    width: auto;
    padding: 0 1.5rem;
    height: 50px;
    color: #696b6e;
    margin-top: -0.07em;
    margin-left: -12em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
}

.btn-alt-side {
    width: auto;
    padding: 0 1.5rem;
    height: 50px;
    color: #696b6e;
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
}

.btn-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-alt:hover,
.btn-alt-side:hover {
    color: #01c8c7;
}

.btn-svg rect,
.btn-svg path,
.btn-svg polyline {
    fill: none;
    stroke: #dfe1e5;
    stroke-width: 1;
}

.btn-alt:hover .btn-svg rect,
.btn-alt-side:hover .btn-svg rect,
.swiggleBox:hover .btn-svg path,
.checkBox:hover .btn-svg polyline {
    stroke: #01c8c7;
}

.btn-svg rect {
    stroke-dasharray: 400, 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.btn-alt:hover .btn-svg rect,
.btn-alt-side:hover .btn-svg rect {
    stroke-width: 3;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 48;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}


/* Forms */

.form-control-custom {
    border: 0.1rem solid #dfe1e5;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    color: #696b6e;
    transition: border-color .4s ease 0s;
	-webkit-appearance: none;
}

.form-control-custom:focus,
.form-control-custom:hover,
.form-control-custom-trans:focus,
.form-control-custom-trans:hover {
    border-color: #01c8c7;
}

.form-control-custom-trans {
    border: 0.1rem solid #dfe1e5;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    color: #fff!important;
    background-color: transparent!important;
    transition: border-color .4s ease 0s;
}

.form-control-custom-trans::-webkit-input-placeholder {
    color: #fff;
}


/* Hero Component */

.hero-search-box {
    width: 100%;
    padding: 1rem;
    color: #696b6e;
    border: 0.1rem solid #dfe1e5;
    transition: border-color .4s ease 0s;
}

.hero-search-box:hover,
.hero-search-box:focus {
    border-color: #01c8c7;
}

.hero-search-icon {
    position: absolute;
    right: 1.5rem;
    font-size: 1.2rem;
    color: #696b6e;
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Ionicons;
}

.hero-search-box::-webkit-input-placeholder {
    color: #696b6e;
	font-size: .9rem;
}

.hero-search-box::-moz-placeholder {
    color: #696b6e;
	font-size: .9rem;
    opacity: 1;
}

.hero-search-box:-ms-input-placeholder {
    color: #696b6e;
	font-size: .9rem;
}

.hero-search-box:-moz-placeholder {
    color: #696b6e;
	font-size: .9rem;
    opacity: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}



/* Particles */

#hero canvas {
    display: block;
    vertical-align: bottom;
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.separator {
    position: relative;
    display: block;
    height: 2px;
    margin: 4px 0 15px 0;
    text-align: left;
    border-top: 1px solid #e4e4e4;
}

a[aria-expanded="true"] {
    color: #01c8c7;
}

a[aria-expanded="false"] {
    color: #6e7c7c;
}

a[aria-expanded="false"]:hover {
    color: #01c8c7;
    text-decoration: none;
}

/* Party */
.confetti svg {
    width: 10rem;
    height: 10rem;
}
.conf0{fill:#FC6394;}
.conf1{fill:#EF3C8A;}
.conf2{fill:#5ADAEA;}
.conf3{fill:#974CBE;}
.conf4{fill:#3CBECD;}
.conf5{fill:#813BBE;}
.conf6{fill:#F9B732;}
.conf7{display:none;fill:none;stroke:#000000;stroke-miterlimit:10;}
.conf8{fill:none;stroke:#F9B732;stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;}


.confetti-cone{
  transform-origin: 200px 50px;
  animation:confetti-cone1 1.2s ease infinite;
}
@keyframes confetti-cone1{
0%{
   transform:translate(40px, 95px)  rotate(45deg) scale(1, 1);
}
15%{
   transform:translate(10px, 145px)  rotate(45deg) scale(1.1, 0.85);

}
100%{
  transform:translate(40px, 105px)  rotate(45deg) scale(1, 1);
}
  }

#yellow-strip {
  fill:none;
  stroke:#F9B732;
  stroke-width:9;
  stroke-linecap:round;
  stroke-miterlimit:10;
  animation: confdash 1.2s ease infinite;
}


@keyframes confdash {
0%{
  stroke-dasharray:1000;
  stroke-dashoffset:500;
  transform:translate(-30px, 30px);
  opacity:0;
}
2%{
  stroke-dasharray:1000;
  stroke-dashoffset:500;
  transform:translate(-30px, 30px);
  opacity:0;
}
35%{
stroke-dasharray:1000;
stroke-dashoffset:900;
transform:translate(-2px, 0px);
opacity:1;
}

85%{
  stroke-dasharray:1000;
  stroke-dashoffset:1000;
  transform:translate(1px, -5px);
  opacity:1;
}
  90%{
  stroke-dashoffset:1000;
   stroke-dashoffset:1000;
  transform:translate(2px, -8px);
  opacity:0;
}
  100%{
  stroke-dashoffset:1000;
   stroke-dashoffset:500;
  transform:translate(2px, -8px);
  opacity:0;
}
}



#conf-a{
  transform-origin: center center;
  animation: confa 1.2s ease-out infinite;
}
@keyframes confa {
0%{
  opacity:0;
  transform: translate(-30px, 20px) rotate(0);
}
15%{
  opacity:1;
  transform: translate(25px, -10px) rotate(60deg);
}
80%{
  opacity:1;
  transform: translate(33px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(37px, -23px) scale(0.5)rotate(230deg);
}
}


#conf-b{
  transform-origin: center center;
  animation: confb 1.2s ease-out infinite;
}
@keyframes confb {
0%{
  opacity:0;
  transform: translate(-30px, 20px) rotate(0);
}
12%{
  opacity:1;
  transform: translate(25px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(33px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(37px, -23px) scale(0.5) rotate(240deg);
}
}

#conf-c{
  transform-origin: center center;
  animation: confc 1.2s ease-out infinite;
}
@keyframes confc {
0%{
  opacity:0.7;
  transform: translate(-30px, 20px) rotate(0);
}
18%{
  opacity:1;
  transform: translate(5px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(13px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(17px, -23px) scale(0.5) rotate(230deg);
}
}

#conf-d{
  transform-origin: center center;
  animation: confd 1.2s ease-out infinite;
}
@keyframes confd {
0%{
  opacity:0.7;
  transform: translate(-20px, 20px) rotate(0);
}
18%{
  opacity:1;
  transform: translate(-5px, -10px) rotate(60deg);
}
76%{
  opacity:1;
  transform: translate(-8px, -18px) rotate(180deg);
}
100%{
  opacity:0;
  transform: translate(-10px, -23px) scale(0.5) rotate(230deg);
}
}

/* Icons */

.kb-box {
    position: relative;
    z-index: 2;
    padding: 85px 10% 73px;
    margin: -12rem 0 5rem !important;
    line-height: 1.42;
    color: #6b7c93;
    background: #fff;
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .12);
}


/* Navbar */

.nav-topbar {
    width: 100%;
    background-color: #252937;
}

.nav-topbar .ticker-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-topbar .ticker-bar .ticker-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    padding: 5px;
    color: #fff;
    font-size: 13.333px;
}

.nav-topbar .ticker-bar .ticker-bar-value {
    margin-left: 5px;
    font-weight: 400;
}

.goog-te-banner-frame.skiptranslate {
	display: none !important;
}

body {
	top: 0px !important;
	position: relative;
}

.goog-te-menu-frame.skiptranslate {
	position: fixed !important;
	left: initial !important;
	right: 0 !important;
	top: 0 !important;
}

.goog-te-gadget {
	font-family: Roboto, "Open Sans", sans-serif !important;
}

.goog-te-gadget-simple {
	background-color: transparent !important;
	border: 0 !important;
	padding: 0 !important;
	border-radius: 0 !important;
	font-size: 12px !important;
	display: inline-block;
	cursor: pointer;
	zoom: 1;
}

.goog-te-menu2 {
	max-width: 100%;
}

.goog-te-menu-value {
	color: #fff !important;
	padding-right: 20px;
}

.goog-te-menu-value span:nth-child(5) {
	display: none;
}

.goog-te-menu-value span:nth-child(3) {
	display: none !important;
}

.goog-te-gadget-icon {
	background-position: 0px 0px;
	height: 0 !important;
	width: 0 !important;
	margin-right: 8px !important;
	display: none;
}

.goog-te-menu-value img {
	display: none;
}
#google_translate_element .goog-te-gadget div {
    position: relative;
}
#google_translate_element .goog-te-gadget div::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 5px;
    border-top: 7px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


.navbar {
    width: 100%;
    margin-bottom: -84px;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

@media (max-width: 767px) {
    .navbar {
        margin-bottom: -70px;
    }
}


.navbar .navbar-toggler {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.navbar .search-toggler {
    position: relative;
    width: 50px;
    height: 50px;
    padding: .25rem .75rem;
    cursor: pointer;
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    outline: 0;
    font-size: 1.25rem;
    color: #fff;
    line-height: 1;
    transition: all .2s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    right: 15px;
    left: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: all .2s ease-in;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-transform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-transform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-transform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}

.logo {
    padding-top: 12px;
    padding-bottom: 3px;
    float: left;
}

.logo svg {
    width: 160px;
    height: 50px;
}

.navbar.navbar-dark .cls-1 {
    -webkit-transition: fill .2s ease;
    -moz-transition: fill .2s ease;
    -ms-transition: fill .2s ease;
    -o-transition: fill .2s ease;
    transition: fill .2s ease;
}

.navbar.navbar-dark.pinned .cls-1 {
    fill: #18A2BB;
}

.navbar.navbar-dark .logo svg {
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.navbar.navbar-dark.pinned .logo svg {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .75);
    font-size: 0.95rem;
    font-weight: 700;
    transition: all .3s ease;
}

.navbar-nav li {
    padding-right: 1rem;
}

.navbar-nav li:last-child {
    padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .dropdown-menu {
    padding: 1em;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(23, 28, 33, .12), 0 1px 2px rgba(23, 28, 33, .24);
    top: 99%;
}

.navbar .dropdown-menu::before {
	display:none;
}
.navbar .dropdown-menu::after {
	display:none;
}

.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #9d9d9d;
    font-size: 1rem;
	font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: color .2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: #01c8c7;
    background: transparent;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}


.navbar.navbar-dark.pinned {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
}

.navbar.navbar-dark.pinned .nav-link {
    color: rgba(51, 51, 51, .5);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.navbar.navbar-dark.pinned .nav-link:hover {
    color: rgba(51, 51, 51, 1);
}

.navbar.navbar-dark.pinned .navbar-toggler .menu-icon-bar {
    background-color: #333;
}

.navbar.navbar-dark.pinned .search-toggler {
    color: #333;
}
@media (max-width: 767px) {

    .navbar.navbar-dark {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
        box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    }

    .navbar.navbar-dark .cls-1 {
        fill: #18A2BB;
    }

    .navbar.navbar-dark .logo svg {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
    }

    .navbar.navbar-dark .nav-link {
        color: rgba(51, 51, 51, .5);
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    .navbar.navbar-dark .nav-link:hover {
        color: rgba(51, 51, 51, 1);
    }

    .navbar.navbar-dark .navbar-toggler .menu-icon-bar {
        background-color: #333;
    }

    .navbar.navbar-dark .search-toggler {
        color: #333;
    }

    .navbar .dropdown-menu {
	    padding: 0rem 0 0.5rem 0.6rem;
	}

.navbar .dropdown-menu .dropdown-item {
	    padding: 0.5rem 0 0 0;
	    font-size: 0.95rem;
	}
}

#search-container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    overflow: hidden;
    visibility: hidden;
    z-index: -1;
}

#search-container form {
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
}

#search-container.show-search {
    visibility: visible;
}

#search-container.show-search form {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* Cards */

.card,
.card-header,
.card-footer,
.card-img-top,
.card-img-bottom {
    border-radius: 0;
}

.card.card-raised {
    border: 0;
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .2);
}

.card.card-raised-hover {
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.card.card-raised-hover:hover {
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, .4);
}

.news-list .card {
    border: 0;
}

.mt-n5 {
    margin-top: -5rem;
}
.mt-n2 {
	margin-top: -2rem;
}

.news-list .card > .card-img-top:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.news-list .card:hover > .card-img-top:after {
    background-color: rgba(0, 0, 0, .2);
}

@media only screen and (min-width: 768px) {

    .news-list .card.super-card > .card-img-top {
        height: 300px;
    }
}

.news-list .card > .card-img-top,
.events .card > .card-img-top {
    position: relative;
	background-size: cover;
	background-position: center center;
	height: 12rem;
}

.news-list .card > .card-img-top.card-img-small {
    height: 150px;
}

.card.news {
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .12);
}

.card.news:hover {
    color: black;
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .2);
}

.cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    padding-top: 180px;
    color: #333;
    text-align: center;
    background-color: #f66;
    opacity: 0;
    -webkit-transition: .4s ease-out all;
    -moz-transition: .4s ease-out all;
    -o-transition: .4s ease-out all;
    transition: .4s ease-out all;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.cardOverlay span {
    display: inline-block;
    max-height: 400px;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
}

.card.news:hover .cardOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #333;
    background-color: #f66;
    opacity: .95;
    -webkit-transition: .4s ease-out all;
    -moz-transition: .4s ease-out all;
    -o-transition: .4s ease-out all;
    transition: .4s ease-out all;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}



/* Team */

.team-image {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    object-fit: cover;
}

.card-body.team {
    text-align: center;
}

.emphasis {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: #01c8c7;
}

.social-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.social-circle:hover {
    color: #01c8c7;
    text-decoration: none;
    border-color: #01c8c7;
}



/* Single Post */

.header-img {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.cat-links .icon {
    height: 15px;
    width: 20px;
}

.entry-footer {
    display: none;
}

#floating_social_bar {
	position: absolute;
	top: 55px;
	left: -70px;
	height: 100%;
    visibility: hidden;
	z-index: 10;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    opacity: 0;
}

#floating_social_bar.show-ssk {
    visibility: visible;
    opacity: 1;
}

#floating_social_bar .ssk-float {
	position: sticky;
}

@media (max-width: 767px) {

	.ssk-float {
		position: fixed !important;
	}

    .ssk-float .ssk {
        margin-top: 1rem !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .ssk-float .ssk:hover {
        padding: 7px !important;
    }
}

@media (min-width: 768px) {

    .ssk-float {
        top: 10rem !important;
        /* left: 50% !important;
        -webkit-transform: translateX(-360px);
        -moz-transform: translateX(-360px);
        -ms-transform: translateX(-360px);
        -o-transform: translateX(-360px);
        transform: translateX(-360px); */
	}
}

@media (min-width: 992px) {

    .ssk-float {
        /* -webkit-transform: translateX(-420px);
        -moz-transform: translateX(-420px);
        -ms-transform: translateX(-420px);
        -o-transform: translateX(-420px);
        transform: translateX(-420px); */
    }
}

@media (min-width: 1200px) {

    .ssk-float {
        /* -webkit-transform: translateX(-480px);
        -moz-transform: translateX(-480px);
        -ms-transform: translateX(-480px);
        -o-transform: translateX(-480px);
        transform: translateX(-480px); */
    }
}

/* Comments */

.comment-list,
.comment-list ol {
    list-style: none;
    padding-left: 0;
}

.comment-list .comment {
    padding-left: 50px;
}

.comment-list .comment .comment-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.comment-list .comment .comment-body .comment-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

.comment-list .comment .comment-body .comment-meta .comment-metadata {
    color: #999;
    font-size: .8rem;
}

.comment-list .comment .comment-body .comment-content {
    margin-top: 10px;
}

.comment-list .comment .comment-body .comment-content p:last-child {
    margin-bottom: 0;
}

.comment-list .comment .comment-body .comment-meta .comment-author {
    position: relative;
}

.comment-list .comment .comment-body .comment-meta .says {
    display: none;
}

.comment-list .comment .comment-body .comment-meta .comment-author img {
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    height: 40px;
}

.comment-list .comment .comment-body .reply {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

/* Polls */

.wp-polls-ul {
	margin: 0px 0px 10px 0px;
}
.wp-polls ul li {
	margin-top: 1rem;
}


.custom-radio .custom-control-indicator::before {
    content:  "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: .2s ease;
}

.custom-radio .custom-control-indicator {
    background-color: #ddd;
    background-image: none !important;
    transition: .2s ease;
}

.custom-radio .custom-control-input:checked ~ .custom-control-indicator::before {
    transform: scale(.4);
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #01c8c7;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: #01c8c7;	
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #01c8c7;
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: #01c8c7;
}
/* Tools */
.totalPayoutChartDiv {
    width:100%;
    height:400px;
}

.overallPayoutWindow{
    width:350px;
}

#overallChartDiv, #delegateChartDiv, #extraiFrame, #totalPayoutInfo, #OverallButtons, #delegateButtons {
    display:none;
}

#alldelegates{
    font-weight:bold;
}

#voted {
    background-color:#A4FCB1;
}

#notvoted {
    background-color:#FCA8A4;
}

#chartjs-tooltip2 {
    opacity: 1;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .2);
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.accordion {
    width: 100%;
}

#accordion1, #accordion2, #nonForgersPara {
    display: none;
}

.accordion .card-header {
    background-color: #fff;
}
.accordion .card-header[aria-expanded="true"] {
    color: #01c8c7;
}

.accordion .card-header a {
	cursor: pointer;
}

.accordion .card-header.collapsed {
    background-color: #fff;
}

.accordion .card-header.collapsed:hover {
    color: #01c8c7;
    transition: all 0.2s ease-in-out;
}

.accordion .card-header a::after {
    font-family: "FontAwesome";
    content: "\2212";
	margin-left: auto;
}

.accordion .card-header.collapsed a::after {
    content: "\002B";
}
.card-block p {
    padding: 1.5em;
}
.card-block {
    background-color: #f8f9fa;
}

#test {
    background-color: #f8f9fa;
    color: #505761;
    font-weight: 500;
}

#test:after {
    content: "";
}
/* Spinner */
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spinner-border {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  text-indent: -999em;
  border: .25em solid;
  border-color: currentColor transparent currentColor currentColor;
  border-radius: 50%;
  -webkit-animation-name: spinner-border;
          animation-name: spinner-border;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.spinner-border-reverse {
  border-color: transparent currentColor transparent transparent;
}
.spinner-border-reverse::after {
  position: absolute;
  top: -.25em;
  right: -.25em;
  bottom: -.25em;
  left: -.25em;
  display: inline-block;
  content: "";
  border: 0.25em solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

@-webkit-keyframes spinner-grow {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spinner-grow {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.spinner-grow {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  text-indent: -999em;
  background-color: #01c8c7;
  border-radius: 50%;
  -webkit-animation-name: spinner-grow;
          animation-name: spinner-grow;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* Timeline */

.timeline {
    list-style: none;
    padding: 20px;
    position: relative;
}

.timeline:before {
    top: 100px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #505761;
    left: 50%;
    margin-left: -1.5px;
}

.timeline .timeline-item {
    margin-bottom: -60px;
    position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
    content: "";
    display: table;
}

.timeline .timeline-item:after {
    clear: both;
}

.timeline .timeline-item .timeline-badge {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 157px;
    left: 50%;
    margin-left: -10px;
    background-color: #fff;
    border: 3px solid #01c8c7;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
    top: 2px;
    left: 0;
}

.timeline .timeline-item .timeline-panel {
    position: relative;
    width: 46%;
    float: left;
    right: 16px;
}

.timeline .timeline-item .timeline-panel:before {
    position: absolute;
    top: 152px;
    right: -16px;
    display: inline-block;
    border-top: 16px solid transparent;
    border-left: 16px solid #6e7c7c;
    border-right: 0 solid #6e7c7c;
    border-bottom: 16px solid transparent;
    content: "";
}

.timeline .timeline-item:nth-child(even) .timeline-panel {
    float: right;
    left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

/* Responsive embeds */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Delegate ranktool */
#delegateRankChartDiv{
    position: relative;
    height: 600px;
}

/* Timeline voting */
.thumbs-rating-container .thumbs-rating-up {
	background: #2ecc71;
}
.thumbs-rating-container .thumbs-rating-up:hover {
	background: #27ae60;
}
.thumbs-rating-container .thumbs-rating-down {
	background: #e74c3c;
}
.thumbs-rating-container .thumbs-rating-down:hover {
	background: #c0392b;
}
.thumbs-rating-container .thumbs-rating-up, .thumbs-rating-container .thumbs-rating-down {
	transition: all 0.4s ease-in-out;
	font-size: 0.9em;
}
.thumbs-rating-container span:hover {
	color: #fff;
}

/* Footer */

.widget ul {
    list-style: none;
    padding: 0;
}

/* Pagination */

.page-numbers {
    position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-numbers:first-child {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-numbers:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-numbers.current {
	font-weight: bold;
	color: #01c8c7;
}

#sticky-menu {
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
}

#sticky-menu .nav .nav-link {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#sticky-menu .nav .nav-link + .nav .nav-link {
    color: #6e7c7c;
}

#sticky-menu .nav .nav-link.active,
#sticky-menu .nav .nav-link +.nav .nav-link.active {
    background-color: transparent;
    color: #01c8c7;
}

#sticky-menu .nav .nav-link:hover,
#sticky-menu .nav .nav-link +.nav .nav-link:hover {
    color: #01c8c7;
}

#sticky-menu .nav .nav-link + .nav {
    display: none;
}

#sticky-menu .nav .nav-link.active + .nav {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* Popup */

#popup {
    visibility: hidden;
    width: 25rem;
    background-color: #505761;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 1.5rem 2rem;
    position: fixed;
    z-index: 1;
    right: 2rem;
    bottom: 2rem;
    border-right: 10px solid #18A2BB;
    box-shadow: 0 1px 3px rgba(23, 28, 33, .12), 0 1px 2px rgba(23, 28, 33, .24);
}

#popup a {
	color: inherit;
	text-decoration: underline;
}

#popup.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* Media queries */

@media (max-width: 767px) {
	.timeline {
		padding: 0;
	}
    .timeline .timeline-item .timeline-panel {
        position: relative;
        width: 100%;
        right: 0;
    }
    .timeline .timeline-item:nth-child(even) .timeline-panel {
        float: left;
        left: 0;
    }
    .timeline .timeline-item {
        margin-bottom: 60px;
        position: relative;
    }
    .timeline .timeline-item .timeline-panel:before {
        display: none;
    }
    .timeline .timeline-item .timeline-badge {
        display: none;
    }
	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.3rem;
	}
	.lead {
		font-size: 1.1rem;
	}
	#popup, #popup.show {
		display: none;
	}
}

@media (min-width: 1024px) {
    .has-feat-img {
        margin-top: -18em;
    }
}

@media (max-width: 1023px) {
    #hero-single {
        height: 205px;
    }
}

@media screen and (min-width: 768px) {

    .kb-collapse {
        display: block !important;
        height: initial !important;

    }

	.scrollspy-title {
		pointer-events: none;
	}

    .scrollspy-title::before {
        position: relative;
        display: block;
        height: 120px;
        content: "";
        margin-top: -120px;
    }
}
